.QuestView, .QuestView .panel, .QuestView .panel-body {
    height : inherit;
}

.QuestView .panel-body {
    margin-bottom : 0px;
}

.QuestView .panel-body {
    padding : 0px;
}

.QuestView .quest-panel {
    padding : 15px;
    min-height: 306px;
    /* max-height: 780px;
    height: inherit; */
    display : flex;
    flex-flow : column;
}

.QuestView .quest-top-container {
    max-height : 720px;
    height : inherit;
    display : flex;
}

.QuestView .quest-item-container {
    overflow : scroll;
    display : flex;
    flex-flow : column;
    flex-grow : 1;
}

.QuestView .quest-type-button-container {
    float : left;
    padding-right : 5%;
}

.QuestView .quest-nav-button-container {
    text-align : center;
    padding-top : 2.5%;
    white-space : nowrap;
} 

.QuestView .quest-nav-page-button {
    padding : 0px 5px;
}

.QuestView .quest-box {
    width : 100%;
}

.QuestView .quest-item  {
    display : flex;
    height : 130px;
    padding-left : 10px;
    background-color : #ffffff08;
    margin-bottom : 10px;
    flex-shrink : 0;
}

.QuestView .quest-item:hover  {
    background-color : #ffffff10;
}

.QuestView .quest-contents {
    height : 88px;
    padding-right : 10px;
    overflow : hidden;
    text-overflow : ellipsis;
}

.QuestView .quest-type-info {
    padding-right : 10px;
    align-self : center;
    display : flex;
    flex-direction : column;
    text-align : center;
}

.QuestView .quest-type-info div {
    margin : 5px 0px;
    height : 16px;
}

.QuestView .quest-resource-img {
    height : 32px;
    margin-bottom : 0px;
    margin-top : auto;
    display : table;
}

.QuestView .quest-resource-img-wrapper {
    vertical-align : middle;
    display : table-cell;
}

.QuestView .quest-resource-img-wrapper > img {
    padding-right : 5px;
}